<html>
  <head>
    <title>Output</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>{{processed_text}}</h1>
    <h1>{{processed_size}}</h1>


	<h3>Wikipedia</h3>
	<img src="/static/images/wiki_gravity.png" alt="wikipedia1" width="20%" height="200">
	<img src="/static/images/wiki_gravity1.png" alt="wikipedia2" width="20%" height="200">
    <h4>Main Page</h4>
    <a href="https://analyzing-trends-app.herokuapp.com/">main page</a>
  </body>
</html>
